<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Teacher</title>
    <link rel="stylesheet" href="{{url_for('static', filename='../static/style.css')}}">
</head>
<body>
    <h1>Music Teacher - Cultura Inglesa Project</h1>
    <div class="container">
        <h2 class="move-title">What you want to play today?</h2>
        <form method="Post">
            <input type="text" name="user_question" placeholder="Write your doubt" required="true">
            <button type="submit">Ask</button>
        </form>
        <textarea readonly>{{response}}</textarea>
    </div>
</body>
</html>